@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Zarządzaj samochodami w Twojej firmie</h2>
    <p class="lead">W tej aplikacji możesz łatwo zarządzać samochodami w firmie </p>
</div>
